<h1>{{(heroe.id)?'Editar':'Nuevo'}} Heroe <small>{{heroe.superhero}}</small></h1>
<form [formGroup]="heroeForm"  (ngSubmit)="guardar()">
<div fxLayout="row" fxLayoutGap="40px">
   
    <div fxFlex="50" fxLayout="column">
 
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="0px" fxLayoutGap="40px">
    
        <mat-form-field  fxFlex="50" >
            <mat-label>Super Heroe</mat-label>
            <input matInput
                   type="text"
                   formControlName="superhero"
                   >
       
        </mat-form-field>
        <mat-form-field fxFlex="50">
           <mat-label>Alter Ego</mat-label>
           <input matInput
                  type="text"
                  formControlName="alter_ego"
                  >
       
       </mat-form-field>
     </div>
    <mat-form-field fxFlex="100">
        <mat-label>Primera Aparicion</mat-label>
        <input matInput
               type="text"
               formControlName="first_appearance"
               >
    
    </mat-form-field>
    <mat-form-field fxFlex="100">
        <mat-label>Personajes</mat-label>
        <input matInput
               type="text"
               formControlName="characters"

               >
    
    </mat-form-field>
    
    <mat-form-field fxFlex="100">
        <mat-label>Creador</mat-label>
       <mat-select   formControlName="publisher"
       >
        <mat-option  value='DC Comics'>DC Comics</mat-option>
        <mat-option  value='Marvel Comics'>Marvel Comics</mat-option>
    
       </mat-select>
    
    </mat-form-field>
    <mat-form-field fxFlex="100">
        <mat-label>Foto Url</mat-label>
        <input matInput
               type="url"
               formControlName="alt_img"

               >
    
    </mat-form-field>
    
     <br>
        <button type="submit" mat-raised-button color="primary"
        
        >
        <mat-icon>save</mat-icon>
        {{(heroe.id)?'Editar':'Guardar'}}
        </button>

    <form>
   
   
       