<div *ngIf=heroe>
    <h1>{{heroe.superhero}}</h1>
<div fxLayout="row" fxLayoutGap="30px" fxLayout.xs="column">
    <div fxFlex="50">
         <img   [src]="heroe | imagen"   >   

    </div>
   
   <div fxFlex="50">
<h1> {{heroe.publisher}}</h1>

<mat-list>
    <mat-list-item> {{heroe.first_appearance}} </mat-list-item>
    <mat-list-item> {{heroe.characters}} </mat-list-item>
    <mat-list-item> {{heroe.publisher}} </mat-list-item>
    <mat-list-item> {{heroe.alter_ego}} </mat-list-item>
   
   </mat-list>
   </div>

</div>
</div>